<div id="title" class="row text-center">
  <h1 class="home-title  title-margin">UB Hacking</h1> 
    <p class="home-subtitle">400 Hackers</p>
    <p class="home-subtitle">November 14 - November 15</p> 
    <div id="scroll">
      <a href="#contact" class="btn glyphicon glyphicon-chevron-down"></a>
    </div>
</div>
<div id="contact" class="row">
  <div class="blue col-lg-12 text-center">
      <p>Do you have any questions? Feel free to contact us at contact@ubhacking.com</p>
      <a href="mailto:contact@ubhacking.com" class="btn">Contact us</a>
  </div>
</div>
